<header id="header" class="fixed-top">
  <nav class="navbar navbar-dark navbar-expand-lg bg-navbar">
    <div class="container">
      <h1 class="header-logo">
        <a class="navbar-brand" href="#"><i class="bi bi-code-slash"></i> PascalApp</a>
      </h1>
      <button class="navbar-toggler" type="button" (click)="collapse.toggle()" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Tentang</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Layanan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Portofolio</a>
          </li>
          <ng-container *ngIf="!isLoggedIn(); else elseTemplate">
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth/login">Login</a>
            </li>
          </ng-container>
          <ng-template #elseTemplate>
            <li class="nav-item dropdown" ngbDropdown>
              <a class="nav-link dropdown-toggle" role="button" ngbDropdownToggle aria-expanded="false">
                Demo
              </a>
              <ul class="dropdown-menu" ngbDropdownMenu>
                <li>
                  <a class="dropdown-item" routerLink="/demo/resume">Resume</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/demo/todos">Todo</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/demo/input-output">Parent-Child Input & Output</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth/logout">Logout</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</header>