<h3>{{title}}</h3>
<div class="card">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <div class="form-check" *ngFor="let todo of todos">
                <input type="checkbox" class="form-check-input" id="{{todo.id}}_checkbox" [value]="todo.id"
                    [checked]="todo.isDone" (click)="onCheckTodo(todo)" />
                &nbsp;
                <label for="{{todo.id}}_checkbox" class="form-check-label">{{todo.name}}</label>
                <button class="btn btn-link btn-sm float-end" (click)="onDeleteTodo(todo)">
                    <i class="bi bi-trash" style="font-size: 1.2rem"></i>
                </button>
                <button class="btn btn-link btn-sm float-end" (click)="onSelectTodo(todo)">
                    <i class="bi bi-pencil-square" style="font-size: 1.2rem"></i>
                </button>
            </div>
        </ul>
    </div>
</div>